
#dashboardContainer {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

#resumeCard {
	color: #fdfdfd;
	border-color: #fdfdfd;
}

#resumeCard:hover {
	background-color: #fdfdfd;
	color: #3A3942;
}

#resumeCard.disabled:hover {
	background-color: #3A3942;
	color: #fdfdfd;
	cursor: not-allowed;
}

#newCard {
	color: #4ad254;
	border-color: #4ad254;
}

#newCard:hover {
	background-color: #4ad254;
	color: #3A3942;
}

@keyframes shrinkJoin {
	to {
		width: 33.3%;
		top: 7.5%;
		height: 85%;
	}
	from {
		width: 84%;
		top: -99%;
		height: 190%;
	}
}

#joinCard {
	color: #ff4c4c;
	border-color: #ff4c4c;
}

.joinCardAnim {
	animation-name: shrinkJoin;
	animation-duration: 1s;
}

#joinCard:hover {
	background-color: #ff4c4c;
	color: #3A3942;
}

@keyframes growJoin {
	from {
		width: 33.3%;
		top: 53.75%;
	}
	to {
		width: 84%;
		top: 3.74%;
	}
}

#joinCardBig {
	width: 84%;
	top: 3.74%;
	bottom: 2%;
	left: 8%;
	background-color: #ff4c4c;
	padding: 5%;
	animation-name: growJoin;
	animation-duration: 1s;
	position: fixed;
	z-index: 1;
	border-radius: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#joinCardBig > div > * , #joinCardBig > *{
	font-size: 50px;
	color: #3A3942;
	border-color: #3A3942;
}

#joinCardBig > .icon {
	position: absolute;
	left: 7%;
	top: 7%;
}

#joinCardBig > div > label {
	top: -25px;
}

#logoutCard {
	color: #b15dff;
	border-color: #b15dff;
}

#logoutCard:hover {
	background-color: #b15dff;
	color: #3A3942;
}

.myCard {
	height: 85%;
	top: 7.5%;
	background-color: #3A3942;
	position: relative;
	border: 5px solid;
	border-radius: 70px;
	margin: 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.myCard:hover {
	cursor: pointer;
}

.cardRow {
	height: 50%;
	margin: 0px;
}

.titleSpan {
	font-size: 48px;
}

/*Mobile only*/
@media (max-width: 600px) {
	.myCard {
		height: 50%
	}

	@keyframes shrinkJoin {
		to {
			width: 83%;
			top: 8%;
			height: 50%;
		}
		from {
			width: 84%;
			top: -99%;
			height: 195%;
		}
	}
}