
#dashboardContainer {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

#resumeCard {
	color: #fdfdfd;
	border-color: #fdfdfd;
}

#resumeCard:hover {
	background-color: #fdfdfd;
	color: #3A3942;
}

#resumeCard.disabled:hover {
	background-color: #3A3942;
	color: #fdfdfd;
	cursor: not-allowed;
}

.Big {
	width: 84%;
	top: 3.74%;
	bottom: 2%;
	left: 8%;
	padding: 5%;
	animation-duration: 1s;
	position: fixed;
	z-index: 1;
	border-radius: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Big > div > * , .Big > *{
	font-size: 50px;
	color: #3A3942;
	border-color: #3A3942;
}

.Big > .icon {
	position: absolute;
	left: 7%;
	top: 7%;
}

#logoutCard {
	color: #b15dff;
	border-color: #b15dff;
}

#logoutCard:hover {
	background-color: #b15dff;
	color: #3A3942;
}

.myCard {
	height: 85%;
	top: 7.5%;
	background-color: #3A3942;
	position: relative;
	border: 5px solid;
	border-radius: 70px;
	margin: 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.myCard:hover {
	cursor: pointer;
}

.cardRow {
	height: 50%;
	margin: 0px;
}

.titleSpan {
	font-size: 48px;
}

input::-webkit-input-placeholder { color:transparent; }
input:-moz-placeholder { color:transparent; } /* FF 4-18 */
input::-moz-placeholder { color:transparent; } /* FF 19+ */
input:-ms-input-placeholder { color:transparent; } /* IE 10+ */
input:focus::-webkit-input-placeholder { color:#3A3942; }
input:focus:-moz-placeholder { color:#3A3942; } /* FF 4-18 */
input:focus::-moz-placeholder { color:#3A3942; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:#3A3942; } /* IE 10+ */

/*Mobile only*/
@media (max-width: 600px) {
	.myCard {
		height: 50%
	}

	@keyframes shrinkJoin {
		to {
			width: 83%;
			top: 8%;
			height: 50%;
		}
		from {
			width: 84%;
			top: -99%;
			height: 195%;
		}
	}
}