#newCard {
	color: #4ad254;
	border-color: #4ad254;
}

#newCard:hover {
	background-color: #4ad254;
	color: #3A3942;
}
/* This didn't work btw
.newCardAnim {
	animation-name: shrinkNew;
	animation-duration: 1s;
}

@keyframes shrinkNew {
	to {
		width: 33.3%;
		left: 6%;
		height: 85%;
	}
	from {
		width: 84%;
		left: -98%;
		height: 190%;
	}
}
*/
#newCardBig {
	background-color: #4ad254;
	animation-name: growNew;
}

@keyframes growNew {
	from {
		width: 33.3%;
		bottom: 52%;
		left: 60%;
	}
	to {
		width: 84%;
		bottom: 2%;
		left: 8%;
	}
}
